.contact-section {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px 0;
}

.contact-section h3 {
    margin: 0;
    width: 40%;
}

.contact-section p {
    padding: 20px 0;
    width: 40%;
    margin: 0;
    font-size: .8em;
    font-weight: 500;
}

.contact-section .contact-btn {
    background-color: #ff8c42;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    font-size: .6em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-btn:hover {
    background-color: #d86924;
}

.contact-section img {
    left: 38%;
    top: -3em;
    width: 25%;
    transform: rotate(45deg);
}

@media only screen and (max-width: 480px) {
    .contact-section h3 {
        width: 100%;
        margin: 0;
    }
    
    .contact-section p {
        width: 100%;
        padding: 10px 0 20px;
    }

    .contact-section img {
        left: 15%;
        top: -1.5em;
        width: 70%;
        transform: rotate(45deg);
    }
}