header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #231942;
    font-weight: 700;
    z-index: 999;
    position: relative;
}

header img {
    width: 250px;
    height: 50px;
}

header ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

header ul a {
    text-decoration: none;
    color: #231942;
}

header ul .tel-li {
    font-size: 18px;
    color: #ff8c42;
    cursor: default;
}

header ul .visit-btn {
    font-weight: 700;
    font-size: 15px;
    padding: 12px 18px;
    background-color: #ff8c42;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0;
    transition: background-color 0.3s ease;
}

.visit-btn:hover {
    background-color: #d86924;
}

@media only screen and (max-width: 480px) {

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header nav {
        display: none;
    }

    header img {
        width: 180px;
    }
}  